<div class="algorithm-card text-center mt-5" style="max-width: 300px; margin:auto; border: solid #9B9B9B 1px; border-radius: 10px;" (click)="openDialog()">
    <div class="my-4">
        <span class="lead">Stable Marriage Problem</span>
    </div>
    <div class="row justify-content-center" style="height: 1px;">
        <div class="col-7 text-center" style="background-color: #D7D7D7; height: 1px;"></div>
    </div>
    <div class="my-4">
        <span>Gale-Shapley Stable Matching</span>
    </div>
</div>

<div class="algorithm-card text-center mt-5" style="max-width: 300px; margin:auto; border: solid #9B9B9B 1px; border-radius: 10px;">
    <div class="my-4">
        <span class="lead">Stable Marriage Problem</span>
    </div>
    <div class="row justify-content-center" style="height: 1px;">
        <div class="col-7 text-center" style="background-color: #D7D7D7; height: 1px;"></div>
    </div>
    <div class="my-4">
        <span>Extended Gale-Shapley Stable Matching</span>
    </div>
</div>

<div class="algorithm-card text-center mt-5" style="max-width: 300px; margin:auto; border: solid #9B9B9B 1px; border-radius: 10px;">
    <div class="my-4">
        <span class="lead">Hospital/Residents Problem</span>
    </div>
    <div class="row justify-content-center" style="height: 1px;">
        <div class="col-7 text-center" style="background-color: #D7D7D7; height: 1px;"></div>
    </div>
    <div class="my-4">
        <span>Extended Gale-Shapley Stable Matching</span>
    </div>
</div>

<div class="algorithm-card text-center mt-5" style="max-width: 300px; margin:auto; border: solid #9B9B9B 1px; border-radius: 10px;">
    <div class="my-4">
        <span class="lead">Hospital/Residents Problem</span>
    </div>
    <div class="row justify-content-center" style="height: 1px;">
        <div class="col-7 text-center" style="background-color: #D7D7D7; height: 1px;"></div>
    </div>
    <div class="my-4">
        <span>Extended Gale-Shapley Stable Matching</span>
    </div>
</div>