<div [@simpleFadeAnimation]="'in'" class="homeContent">

    <div class="titleContent">
        <div class="container text-center pt-5 col-sm-11 col-lg-8 col-xl-5">
            <h1 class="title-text">Learn, visualise and walk through matching algorithms at your own pace.</h1>
        </div>
    
        <div class="container pb-5 mb-5 text-center">
            <video #animationVid class="video" id="animationVideo" autoplay muted loop src="assets/animations/algAnimation.mp4" type="video/mp4"></video>
            <!-- <button mat-flat-button color="accent" style="border-radius: 70px; width: 300px; height: 90px"><span style="font-size: 36px; font-weight: 500">Get Started</span></button> -->
        </div>
    </div>



    <div class="py-5" style="background-color: #f6f6f8; font-family: DM Sans;">

        <!-- <div class="titleContent mt-2 pb-5 mb-5 text-center">
            <button class="startButton" mat-flat-button color="accent" style="border-radius: 70px; width: 350px; height: 90px"><span style="font-size: 36px; font-weight: 500; color: rgb(243, 243, 243);">Get Started</span></button>
        </div> -->

        <div class="container my-5">
            <div class="row pt-5">
                <div class="col-lg-6 col-sm-12 my-auto text-right pr-5" id="homePageRow1Text">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Perfect for beginners</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">With a simple, intuitive interface, learn how the Gale-Shapley and Extended Gale-Shapley matching algorithms work in different problems with step-by-step playback.</p>
                </div>
                <div class="col-lg-6 col-sm-12 mx-auto text-center">
                    <video #descriptionVid id="homePageRow1Content" class="video" id="descriptionVideo" autoplay muted loop src="assets/animations/descriptions.mp4" type="video/mp4" width=80% style="border: 1px solid rgb(180, 180, 180); height: auto; border-radius: 30px;"></video>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row mt-5">
                <div class="col-lg-6 col-sm-12 mt-5 my-auto">
                    <div style="width: 300px; height: 300px; overflow: hidden; border-radius: 50%; background: white; border: 1px solid rgb(180, 180, 180);" class="mx-auto">
                        <img src="assets/images/codeDisplayWhite.PNG" style="margin: 0 auto; margin-left: 5%; margin-top: 5%;height: 100%; width: auto;" id="homePageRow2Content">
                    </div>
                </div>
                <!-- <div class="col-sm-none"></div> -->
                <div class="col-lg-6 col-sm-12 my-auto pl-5" id="homePageRow2Text">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Learn visually</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">Decide to play each algorithm with pseudocode shown or not in conjunction with a visual representation of matching.</p>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row pb-5">
                <div class="col-lg-6 col-sm-12 my-auto text-right pr-5" id="homePageRow3Text">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Control your learning</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">Use the playback controls for each algorithm to control the speed you learn.</p>
                </div>
                <div class="col-lg-6 col-sm-12 pl-5">
                    <div style="width: 300px; height: 300px; overflow: hidden; border-radius: 50%; background: white; border: 1px solid rgb(180, 180, 180);" class="mx-auto">
                        <img src="assets/images/playbackControlUnchanged.PNG" id="homePageRow3Content" style="margin: 0 auto; margin-left: -15.2%; margin-top: 17%;height: 60%; width: auto;">
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>