.title-text {
    font-weight: 600;
    color: #2058FF
}

.github-icon {
    color: #1b1f23;
    transition: 200ms color;
}

a:hover .github-icon {
    color: #5e5e5e;
}

.facebook-icon {
    color: #4968ad;
    transition: 200ms color;
}

a:hover .facebook-icon {
    color: #6c8aca;
}

.linkedin-icon {
    color: #2867b2;
    transition: 200ms color;
}

a:hover .linkedin-icon {
    color: #518bd3;
}


// under small
@media only screen and (max-width: 576px) {
    .title-text {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 44px;
        line-height: 60px;
    }
}

// small
@media only screen and (min-width: 576px) {
    .title-text {
        font-size: 60px;
        line-height: 72px;
    }
}

// medium
@media only screen and (min-width: 768px) {
    .title-text {
        font-size: 70px;
        line-height: 94px;
    }
}

// large
@media only screen and (min-width: 992px) {

}

// extra large
@media only screen and (min-width: 1200px) {

}