@import "../../../styles.scss";

.startButton {
    background-color: #2058FF;
    transition: 200ms background-color;
}

.startButton:hover {
    background-color: #1140ce;
}

.title-text {
    font-size: $base-font-size*3.2;
    line-height: $base-font-size*1.6;
}

// under small
@media only screen and (max-width: 576px) {
    // .title-text {
    //     padding-left: 40px;
    //     padding-right: 40px;
    //     font-size: 44px;
    //     line-height: 60px;
    // }

    .video {
        height: 270px;
    }
}

// small
@media only screen and (min-width: 576px) {
    // .title-text {
    //     font-size: 60px;
    //     line-height: 72px;
    // }

    .video {
        height: 300px;
    }
}

// medium
@media only screen and (min-width: 768px) {
    // .title-text {
    //     font-size: 4.6rem;
    //     line-height: 6rem;
    // }

    .video {
        height: 410px;
    }

}

@media #{$mq-xlarge} {
    .title-text {
        padding-top: 7vh;
        font-size: $base-font-size*4;
        line-height: $base-font-size*1.6;
    }

    .video {
        height: 540px;
    }
}

// extra large
@media #{$mq-xxlarge} {
    .title-text {
        padding-top: 7vh;
        font-size: $base-font-size*4.6;
        line-height: $base-font-size*1.6;
    }

    .video {
        height: 600px;
    }
}