<pre>
    <code id="line1"> 1:     set each person to be free;</code>
    <code id="line2"> 2:     while some man m is free do</code>
    <code id="line3"> 3:           w = most preferred woman on m’s list to which he has not yet proposed;</code>
    <code id="line4"> 4:           if w is free then</code>
    <code id="line5"> 5:                 assign m to w;</code>
    <code id="line6"> 6:           else</code>
    <code id="line7"> 7:                 if w prefers m to her current partner m' then</code>
    <code id="line8"> 8:                       assign m to w to be engaged and set m' to be free;</code>
    <code id="line9"> 9:                 else</code>
    <code id="line10">10:                        w rejects m’s proposal and remains with m' ; &#123;m remains free&#125;</code>
    <code id="line11">11:      the stable matching consists of all n engagements</code>
</pre>