<div class="row text-center border-bottom px-5" id="descriptionDiv">
    <h3 class="col-12 h2 sidebarPopover my-auto text-center pr-4" id="algorithmDescription" data-toggle="popover" data-placement="left" title="Current Line Description"
    data-content="This gives you a description of what's happening in the algorithm at this step with reference to the variables involved." data-trigger="manual"
    data-template='<div class="popover fade show bs-popover-right popoverPositioning blackText" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'>
        {{ this.playback.description }}
    </h3>
</div>