<div class="card px-1">
    <div class="card-body">
        <div class="row mt-2">
            <div class="col-7">
                <h1 class="card-title" style="font-size: 30px; font-weight: 400;">{{ algorithm.name }}</h1>
            </div>
            <div class="col-5 mt-2 pr-4 text-right">
                <h6 class="card-subtitle text-muted" style="font-size: 20px; font-weight: 400">{{ algorithm.orientation[0] }}-Oriented</h6>
            </div>
        </div>
        
        <h5 class="card-subtitle mb-4 text-muted" style="font-size: 22px; font-weight: 400">{{ algorithm.algorithm }}</h5>

        <div class="mt-3" style="height: 150px; overflow:scroll">
            <p class="card-text" style="font-size: 18px; line-height: 25px; font-weight: 400;" [innerHTML]="algorithm.description"></p>
        </div>

        <div class="divider mt-3"></div>

        <div class="row mt-4">

            <div class="col-7">
                <form class="example-form pl-3">
                    <div class="row justify-content-start" *ngIf="algorithm.name == 'Stable Marriage Problem'">
                      <mat-form-field style="width: 200px;">
                        <mat-label>Number of Men and Women</mat-label>
                        <input id={{algorithm.id}} [formControl]="numberOfGroup1Agents" (keyup.enter)="(numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min')) ? '' : this.onGeneratePreferences()" type="number" matInput placeholder="5" value="5" min="1" max="9" onkeydown="if(event.key==='.'){event.preventDefault();}" oninput="this.value = this.value > 0 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))" onDrag="return false" onDrop="return false" onPaste="return false">
                        <mat-error *ngIf="numberOfGroup1Agents.hasError('required')">
                          This field is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="numberOfGroup1Agents.hasError('min') || numberOfGroup1Agents.hasError('max')">
                          Please input a number between 1 and 9
                        </mat-error>
                      </mat-form-field>
                    </div>
                
                    <div class="row justify-content-center" *ngIf="algorithm.name == 'Hospitals/Residents Problem'">
                      <mat-form-field style="width: 200px;" class="mr-1">
                        <mat-label>Number of Residents</mat-label>
                        <input id="hr1" [formControl]="numberOfGroup1Agents" (keyup.enter)="numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min') || numberOfGroup2Agents.hasError('required') || numberOfGroup2Agents.hasError('max') || numberOfGroup2Agents.hasError('min') ? '' :  this.onGeneratePreferences()" type="number" matInput placeholder="5" value="5" min="2" max="9" oninput="this.value = this.value > 1 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))" onDrag="return false" onDrop="return false" onPaste="return false">
                        <mat-error *ngIf="numberOfGroup1Agents.hasError('required')">
                          This field is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="numberOfGroup1Agents.hasError('min') || numberOfGroup1Agents.hasError('max')">
                          Please input a number between 1 and 9
                        </mat-error>
                      </mat-form-field>
                
                      <mat-form-field style="width: 200px;" class="ml-1">
                        <mat-label>Number of Hospitals</mat-label>
                        <input id="hr2" [formControl]="numberOfGroup2Agents" (keyup.enter)="numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min') || numberOfGroup2Agents.hasError('required') || numberOfGroup2Agents.hasError('max') || numberOfGroup2Agents.hasError('min') ? '' :  this.onGeneratePreferences()" type="number" matInput placeholder="5" value="5" min="2" max="9" oninput="this.value = this.value > 1 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))" onDrag="return false" onDrop="return false" onPaste="return false">
                        <mat-error *ngIf="numberOfGroup2Agents.hasError('required')">
                          This field is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="numberOfGroup2Agents.hasError('min') || numberOfGroup2Agents.hasError('max')">
                          Please input a number between 1 and 9
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <!-- Roommates -->
                    <div class="row justify-content-start" *ngIf="algorithm.name == 'Stable Roommates Problem'">
                      <mat-form-field style="width: 200px;">
                        <mat-label>Number of People</mat-label>
                        <input id={{algorithm.id}} [formControl]="numberOfGroup1Agents" (keypress)="evenOnly($event)" (keyup.enter)="((numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min')) ? '' : this.onGeneratePreferences())" type="number" matInput placeholder="5" value="5" min="1" max="10" onkeydown="if(event.key==='.'){event.preventDefault();}" oninput="this.value = this.value > 0 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))" onDrag="return false" onDrop="return false" onPaste="return false">
                        <mat-error *ngIf="numberOfGroup1Agents.hasError('required')">
                          This field is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="numberOfGroup1Agents.hasError('min') || numberOfGroup1Agents.hasError('max')">
                          Please input a even number between 1 and 8
                        </mat-error>
                      </mat-form-field>
                    </div>


                    <div class="row justify-content-center" *ngIf="algorithm.name == 'Student Project Allocation'">
                      <mat-form-field style="width: 200px;" class="mr-1">
                        <mat-label>Number of Students</mat-label>
                        <input id="spa1" [formControl]="numberOfGroup1Agents" (keyup.enter)="numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min') || numberOfGroup2Agents.hasError('required') || numberOfGroup2Agents.hasError('max') || numberOfGroup2Agents.hasError('min') ? '' :  this.onGeneratePreferences()" type="number" matInput placeholder="5" value="5" min="2" max="9" oninput="this.value = this.value > 1 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))" onDrag="return false" onDrop="return false" onPaste="return false">
                        <mat-error *ngIf="numberOfGroup1Agents.hasError('required')">
                          This field is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="numberOfGroup1Agents.hasError('min') || numberOfGroup1Agents.hasError('max')">
                          Please input a number between 1 and 9
                        </mat-error>
                      </mat-form-field>
                
                      <mat-form-field style="width: 200px;" class="ml-1">
                        <mat-label>Number of Projects</mat-label>
                        <input id="spa2" [formControl]="numberOfGroup2Agents" (keyup.enter)="numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min') || numberOfGroup2Agents.hasError('required') || numberOfGroup2Agents.hasError('max') || numberOfGroup2Agents.hasError('min') ? '' :  this.onGeneratePreferences()" type="number" matInput placeholder="5" value="5" min="2" max="9" oninput="this.value = this.value > 1 && this.value < 10 ? (!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null) : Number(String(this.value).charAt(1))" onDrag="return false" onDrop="return false" onPaste="return false">
                        <mat-error *ngIf="numberOfGroup2Agents.hasError('required')">
                          This field is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="numberOfGroup2Agents.hasError('min') || numberOfGroup2Agents.hasError('max')">
                          Please input a number between 1 and 9
                        </mat-error>
                      </mat-form-field>
                    </div>
                
                  </form>
            </div>

            <div class="col-5 text-right">
                <button class="cardButton" mat-stroked-button style="border-radius: 70px; width: 220px; height: 45px;" *ngIf="algorithm.name == 'Stable Marriage Problem' && !(numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min'))" cdkFocusInitial [disabled]="numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min')" (click)="this.onGeneratePreferences()"><span style="font-size: 18px; font-weight: 500; color: black;">Generate Preferences</span></button>
                <button class="cardButton" mat-stroked-button style="border-radius: 70px; width: 220px; height: 45px;" *ngIf="algorithm.name == 'Hospitals/Residents Problem' && !(numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min') || numberOfGroup2Agents.hasError('required') || numberOfGroup2Agents.hasError('max') || numberOfGroup2Agents.hasError('min'))" cdkFocusInitial [disabled]="numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min') || numberOfGroup2Agents.hasError('required') || numberOfGroup2Agents.hasError('max') || numberOfGroup2Agents.hasError('min')" (click)="this.onGeneratePreferences()"><span style="font-size: 18px; font-weight: 500; color: black;">Generate Preferences</span></button>
                <button class="cardButton" mat-stroked-button style="border-radius: 70px; width: 220px; height: 45px;" *ngIf="algorithm.name == 'Stable Roommates Problem' && !(numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min'))" cdkFocusInitial [disabled]="numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min')" (click)="this.onGeneratePreferences()"><span style="font-size: 18px; font-weight: 500; color: black;">Generate Preferences</span></button>

              </div>
        </div>
        
    </div>
</div>