<pre>
    <code id="line1"> 1:   set each person to be free;</code>
    <code id="line2"> 2:   while some man m is free &#123;</code>
    <code id="line3"> 3:      w = first woman on m's list</code>
    <code id="line4"> 4:      if w is currently engaged to someone &#123;</code>
    <code id="line5"> 5:         break engagement between w and w's current partner</code>
    <code id="line6"> 6:      &#125;</code>
    <code id="line7"> 7:      provisionally engage m and w to be</code>
    <code id="line8"> 8:      for each successor m'' of m on w's list &#123;</code>
    <code id="line9"> 9:         m'' = next worst man on w's preference list</code>
    <code id="line10">10:         remove m'' from w's preference list and vice versa</code>
    <code id="line11">11:      &#125;</code>
    <code id="line12">12:    &#125;   // a stable matching between men and women has been found</code>
</pre>