<div class="text-center mt-5">
    <p class="title lead">Hi there!</p>

    <p class="subtitle lead mt-2 mb-4">Welcome to the <b>Matching Algorithm Animator App!</b></p>

    <div class="divider col-8 center"></div>
    
    <div class="col-9 center body-text">
        <p class="mt-4">
            This app was developed as part of my 4th year University of Glasgow Computer Science Individual Project in collaboration with my supervisor, <a href="http://www.dcs.gla.ac.uk/~sofiat/" target="_blank">Sofiat Olaosebikan</a>.
            The aim of the project was to develop an app for the teaching of matching algorithms.
        </p>
    
        <p class="mt-4">
            If you don't know what a matching algorithm is, check out a description here!
        </p>
    
        <p class="mt-4">
            Right now, we have 4 matching algorithms you can learn! To do so, head on over to the <b>Algorithms</b> page! Once you click on a problem, a popup will appear asking you how many agents on each side of the matching algorithm you would like. After that, you'll be able to play and walk through the algorithm using the playback controls!
        </p>
    
        <p class="mt-4">
            You can also head over to the <b>About Me</b> page to hopefully answer any questions you have about me!
        </p>
    
        <p class="mt-4">
            If you enjoy using this app, or have any suggestions, let me know at my email address below!
        </p>
    </div>
</div>