<h2 mat-dialog-title class="lead" style="margin-bottom: 0px;">{{ algorithm.name }}</h2>
<p class="lead" style="font-size: 15px">{{ algorithm.orientation }}-Oriented</p>

<div class="divider col-7 mb-2"></div>

<mat-dialog-content class="mat-typography" style="max-width: 500px">
  <h3>Description</h3>
  <p [innerHTML]="algorithm.description"></p>

  <div class="divider col-4 mb-2"></div>

  <h3>Input number of agents:</h3>
  <p>For the algorithm to work, you need to input the number of agents you want on each side of the
    matching.
  </p>

  <form class="example-form">
    <div class="row justify-content-center mt-2" *ngIf="algorithm.name == 'Stable Marriage Problem'">
      <mat-form-field style="width: 200px;">
        <mat-label>Number of Men and Women</mat-label>
        <input [formControl]="numberOfGroup1Agents" type="number" matInput placeholder="5" value="5">
        <mat-error *ngIf="numberOfGroup1Agents.hasError('required')">
          This field is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="numberOfGroup1Agents.hasError('min') || numberOfGroup1Agents.hasError('max')">
          Please input a number between 1 and 10
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row justify-content-center mt-2" *ngIf="algorithm.name == 'Hospital/Residents Problem'">
      <mat-form-field style="width: 200px;" class="mr-1">
        <mat-label>Number of Hospitals</mat-label>
        <input [formControl]="numberOfGroup1Agents" type="number" matInput placeholder="5" value="5">
        <mat-error *ngIf="numberOfGroup1Agents.hasError('required')">
          This field is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="numberOfGroup1Agents.hasError('min') || numberOfGroup1Agents.hasError('max')">
          Please input a number between 1 and 10
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 200px;" class="ml-1">
        <mat-label>Number of Residents</mat-label>
        <input [formControl]="numberOfGroup2Agents" type="number" matInput placeholder="5" value="5">
        <mat-error *ngIf="numberOfGroup2Agents.hasError('required')">
          This field is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="numberOfGroup2Agents.hasError('min') || numberOfGroup2Agents.hasError('max')">
          Please input a number between 1 and 10
        </mat-error>
      </mat-form-field>
    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial routerLink="/algorithm" [disabled]="numberOfGroup1Agents.hasError('required') || numberOfGroup1Agents.hasError('max') || numberOfGroup1Agents.hasError('min') || numberOfGroup2Agents.hasError('required') || numberOfGroup2Agents.hasError('max') || numberOfGroup2Agents.hasError('min')">Generate Preferences!</button>
</mat-dialog-actions>