// All colours for the app are defined here

$logo-alg-color: #ff3c00;
$logo-match-color: #e100ff;

$logo-alg-hover-algpage-color: #ffae00;
$logo-match-hover-algpage-color: #ff009d;

$navbar-color: #24282c;
$border-color: #3d3d3d;

$sidebar-color: #1b1f23;


$icon-color: #999999;
$icon-hover-color: #c2c2c2;