@import "_colors", "_fonts";
  
  /*
   * Sidebar
   */
  
   .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

// to put on right side of screen

  // .sidebar {
  //   position: fixed;
  //   top: 0;
  //   bottom: 0;
  //   right: 0;
  //   z-index: 100; /* Behind the navbar */
  //   padding: 0;
  //   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  // }
  
  .sidebar-sticky {
    background-color: $sidebar-color;
    color: $sidebar-text-color;
    position: absolute;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  #sidebarContent {
    height: 100%;
    display: grid;
    grid-template-rows: 0.2fr 0.15fr 0.1fr 2fr;
    grid-auto-rows: minmax(100px, auto);
  }

  .moveContentToTop {
    z-index: 599;
  }

  .border-bottom { border-bottom: 1px solid $border-color !important;}

  li::marker {
    font-family: Roboto;
  }