<!-- <div [class.single-center-item]="this.firstSelection" [class.grid-container]="!this.firstSelection" >

  <div class="title-container text-center my-3" [class.hidden]="!this.firstSelection">
    <div class="">
      <p class="title" *ngIf="(this.algorithm.value == '')">Matching Algorithm Animator</p>
  
      <p class="title mb-3" style="font-size: 12px; font-weight: 400;" *ngIf="(this.algorithm.value == '')">Created by Liam Lau</p>
  
      <mat-form-field style="width: 250px" appearance="fill">
        <mat-label>Choose an Algorithm</mat-label>
        <mat-select id="algorithmDropdown" [formControl]="algorithm" (selectionChange)="changeAlgorithm()">
          <mat-option value="simple">Simple</mat-option>
          <mat-option value="gale-shapley">Gale-Shapley Stable Marriage</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="variable-block col-10 col-lg-7 text-center" *ngIf="!this.playback.firstRun" style="opacity: 0;">
    <variable-display [algorithm]="this.algorithm.value" *ngIf="!(this.algorithm.value == '') && !this.playback.firstRun"></variable-display>
  </div>

  <div class="algorithm-container col-lg-6 col-md-8 col-10 text-center">
    <div class="">

      <div class="playback-block">
        <playback-controls [algorithm]="this.algorithm.value" [numPeople]="5" *ngIf="!(this.algorithm.value == '')"></playback-controls>
      </div>

      <div class="code-block" [class.mb-4]="!this.firstSelection">
        <code-display [algorithm]="this.algorithm.value"></code-display>
      </div>

    </div>
  </div>

</div> -->


<!-- ----------------------------------------------------------------------------------------------------------------- NEW -->


<!-- <div class="row pt-4">
  <div class="logo col-1">
    <img src="assets/images/projectLogo.png" style="max-width: 40%; min-width: 50px;" routerLink="/home">
  </div>
  <div class="title col-10 text-center">
    <h2 class="lead mt-2">{{ algorithmService.currentAlgorithm.name }}: {{ algorithmService.currentAlgorithm.orientation[0] }}-Oriented</h2>
    <p>{{ algorithmService.currentAlgorithm.algorithm }}</p>
  </div>
  <div class="infoLogo col-1 flex-fill d-flex align-items-center text-center">
    <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="this.drawService.alwaysShowPreferences = !this.drawService.alwaysShowPreferences; this.drawService.redrawCanvas()">info</mat-icon>
  </div>
</div> -->


<!-- 1b1f23 -->

<div class="covering-panel" *ngIf="this.tutorialStep != 0">

</div>

<nav class="navbar sticky-top navbar-light p-0 moveToTop shadow-lg" style="background-color: #24282c; height: 50px; font-family: 'DM Sans'; z-index: 1000;">


  <div class="col-3 text-left align-middle" style="height: 100%">
    <div class="align-middle" style="display: inline-block; height: 100%">
      
    </div>
    <mat-icon class="navbarIconButton unselectable mr-4 navbarPopover" data-toggle="popover" data-placement="bottom" title="Menu button" data-content="Click this to hide or expand the sidebar underneath when not in this tutorial!" data-trigger="manual" (click)="this.showCode = !this.showCode; this.drawService.redrawCanvas(); $event.stopImmediatePropagation()" matTooltip="{{this.showCode ? 'Expand Panel' : 'Close Panel'}}" [ngClass]="{'disabled': this.tutorialStep != 0}">{{this.showCode ? "menu" : "menu_open"}}</mat-icon>
    <a style="cursor: pointer;vertical-align: -2px" (click)="this.goHome('/')" matTooltip="Go Home"><span class="display-1" style="font-size: 20px;"><span id="alg">alg</span><span id="match">match</span></span></a>
  </div>
  <div class="col-6 text-center navbarPopover" data-toggle="popover" data-placement="bottom" title="Tutorial" data-content="This short tutorial will walk you through the sections of this page. Click the arrow in the top right to move to the next step of the tutorial! Or you can click the x, also in the top right of the screen, to stop the tutorial." data-trigger="manual">
    <span style="color: white; font-size: 0.98rem; font-weight: 350;">{{ this.algorithmService.currentAlgorithm.name }} / {{ this.algorithmService.currentAlgorithm.algorithm }} / {{ this.algorithmService.currentAlgorithm.orientation[0] }}-Oriented</span>
  </div>

  <div class="col-3 text-right">
    <mat-icon class="navbarIconButton unselectable mr-4" matTooltip="Stop Tutorial" *ngIf="this.tutorialStep != 0" (click)="this.stopTutorial()">cancel</mat-icon>
    <mat-icon class="navbarIconButton unselectable mr-4" matTooltip="Generate New Random Preferences" (click)="this.generateNewPreferences()" [ngClass]="{'disabled': this.tutorialStep != 0}">refresh</mat-icon>
    <mat-icon class="navbarIconButton unselectable mr-4" matTooltip="Edit Preferences" mat-button (click)="this.openEditPreferencesDialog()" [ngClass]="{'disabled': this.tutorialStep != 0}">edit</mat-icon>
    <!-- <mat-icon class="navbarIconButton unselectable mr-4" matTooltip="Edit Preferences" mat-button (click)="this.openEditPreferencesDialog()" *ngIf="this.tutorialStep != 0">edit</mat-icon> -->
    <mat-icon class="navbarIconButton unselectable mr-4" (click)="this.drawService.alwaysShowPreferences = !this.drawService.alwaysShowPreferences; this.drawService.redrawCanvas(); $event.stopImmediatePropagation()" matTooltip="{{this.drawService.alwaysShowPreferences ? 'Show All Preferences' : 'Only Show Relevant Preferences'}}" [ngClass]="{'disabled': this.tutorialStep != 0}">{{this.drawService.alwaysShowPreferences ? "visibility_off" : "visibility"}}</mat-icon>
    <mat-icon class="navbarIconButton unselectable mr-4" matTooltip="Animation Guide" (click)="this.openAnimationGuideDialog()" [ngClass]="{'disabled': this.tutorialStep != 0}">info</mat-icon>
    <mat-icon class="navbarIconButton unselectable mr-2 navbarPopover" data-toggle="popover" data-placement="bottom" title="Actions" data-content="In order from left to right, you can: stop this tutorial, generate new preferences, edit preferences, toggle all preferences or only relevant preferences, see an animation guide, or advance the tutorial." data-trigger="manual" matTooltip="{{this.tutorialStep == 0 ? 'Tutorial' : 'Advance Tutorial'}}" (click)="this.nextTutorialStep()">{{this.tutorialStep == 0 ? "help_outline" : "arrow_forward_ios"}}</mat-icon>
  </div>


</nav>

<div class="container-fluid" style="height: calc(100% - 50px); overflow-x: hidden; font-family: 'DM Sans';">
  <div class="row" style="height: 100%">
    <nav class="d-none sidebar" [ngClass]="{'col-md-3 d-md-block': !this.showCode, 'moveContentToTop': this.tutorialStep == 2}">
      <div class="sidebar-sticky shadow-lg" style="background-color: #1b1f23; color:rgb(231, 231, 231); position: absolute;">
        <div class="grid-container-algorithm" id="sidebarContent" style="height: 100%; display: grid; grid-template-rows: 0.2fr 0.15fr 0.1fr 2fr; grid-auto-rows: minmax(100px, auto);">
          <div id="descriptionDiv" class="row text-center border-bottom px-5" style="height:114px">
            <h3 class="col-12 h2 sidebarPopover my-auto text-center pr-4" style="font-weight: 400; font-size: 1vw; line-height: 1.5vw;" data-toggle="popover" data-placement="left" title="Current Line Description" data-content="This gives you a description of what's happening in the algorithm at this step with reference to the variables involved." data-trigger="manual"
            data-template='<div class="popover fade show bs-popover-right popoverPositioning blackText" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'>{{ this.playback.description }}</h3>
          </div>
          <div class="border-bottom align-items-center">
            <div class="row align-items-center mx-2" style="height: 100%">
              <div class="col-4" style="font-size: 22px;">
                <span style="font-size: 0.9vw;">Free {{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[0]) }}:</span>
              </div>
              <div class="col-8 text-center pr-5 py-3" style="font-size: 0.9vw;">
                [
                <span *ngFor="let item of this.playback.commandList[this.playback.stepCounter]['freeAgents']; let lastItem = last;">
                  <span class="{{ item }}">{{ item.slice(item.length - 1) }}</span><span *ngIf="!lastItem">, </span>
                </span>
                ]
              </div>
            </div>
          </div>
          <div class="border-bottom sidebarPopover mr-2" style="background-color: #1b1f23; max-width: 100%;" data-toggle="popover" data-placement="left" title="Code Display" data-content="This highlights the current line that's being executed in the algorithm as you play or drag the playback slider." data-trigger="manual"
            data-template='<div class="popover fade show bs-popover-right popoverPositioning blackText" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'>
            <!-- <div class="row">
              hi
            </div>
            <div class="row">
              hihi
            </div>
            <div class="row">
              there
            </div> -->
            <code-display></code-display>
            
          </div>

          <div class="sidebarPopover" id="executionTrace" style="overflow: auto;" data-toggle="popover" data-placement="left" title="Execution Trace" data-content="This will fill out as you play the algorithm with a log of all current line descriptions, so you can go back and get a better idea of what happens at certain parts in the algorithm!" data-trigger="manual"
            data-template='<div class="popover fade show bs-popover-right popoverPositioning blackText" style="color:black" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'>
            <h1 class="pt-4 pl-3" style="color:rgb(231, 231, 231); font-weight: 300; margin-bottom: 0; padding-bottom: 0; font-size: 1.4vw;">
              Execution Log
            </h1>
            <ol start=0 class="pt-3 pb-4" style="width: 100%; display: table; margin: 0; vertical-align: middle; background-color: #1b1f23; padding-left: 30px; font-size: 0.8vw; line-height: 1.2vw;">
              <li class="mb-4 pr-2" *ngFor="let line of this.playback.algorithmData['descriptions'].slice(0, this.playback.stepCounter + 1)">
                {{ line }}
              </li>
            </ol>
          </div>
        </div>

      </div>
    </nav>

    <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-9" style="height: 100%"> -->
      <div class="grid-container-algorithm ml-sm-auto" id="mainContent" style="height: 100%; display: grid; grid-template-rows: 0.39fr 3.4fr 0.8fr; background-color: #ffffff; padding-left: 0px; padding-right: 0px" [ngClass]="{'col-md-9': !this.showCode, 'col-md-12': this.showCode, 'moveContentToTop': this.tutorialStep == 3}">

        <div class="d-flex justify-content-around flex-wrap flex-md-nowrap align-items-center" style="height:120px; border-bottom: 1px solid rgba(184, 184, 184, 0.658);">
          <h1 class="h2 mt-3">{{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[0]) }}</h1>
          <h1 class="h2 mt-3">{{ this.algorithmService.pluralMap.get(this.algorithmService.currentAlgorithm.orientation[1]) }}</h1>
        </div>



        <div class="mainContentPopover" id="parent" style="min-height: 400px;" (resized)="this.drawService.redrawCanvas()" data-toggle="popover" data-placement="left" title="Algorithm Display" data-content="This is where you can see the animation for the algorithm! Green lines mean there is a matching between 2 circles, and red lines mean there is a proposal currently being considered. If you want more information, click on the info button next to the tutorial button!" data-trigger="manual">
          <canvas #canvas id="myCanvas" style="min-height: 280px; max-width: 100%;">
       
          </canvas>
        </div>

        <div class="container-fluid py-3" style="background-color: rgb(241, 241, 241); border-top: 0.6px solid rgb(124, 124, 124); ">
          <div class="row" style="height: 100%">
            <div class="col-12 mainContentPopover my-auto" data-toggle="popover" data-placement="top" title="Playback Controls" data-content="Use the controls below to interact with the algorithm! Play or step through at a pace you choose with the speed slider, or use the position slider at the bottom to drag through the algorithm!" data-trigger="manual">
              <div class="playback-block">
                <playback-controls></playback-controls>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="d-flex justify-content-around flex-wrap flex-md-nowrap align-items-center border-bottom">
          <h1 class="h2">Residents</h1>
          <h1 class="h2">Hospitals</h1>
        </div>

        <div class="">
    
          <div id="terminal" class="col-4 mr-4" style="border: solid black 1px; border-radius: 20px; visibility: hidden; display: none;">
            <code-display></code-display>
          </div>

          <canvas height=500 width=500></canvas>

          <div id="parent" class="text-center" (resized)="this.drawService.redrawCanvas()" [ngClass]="{'col-12': !this.showCode, 'col-6': this.showCode}">
            <canvas #canvas id="myCanvas" style="margin-top: 10px; margin-left: -6px; min-height: 280px;">
       
            </canvas>
          </div>
      
        </div>

        <div class="row my-3">
          <div class="col-12" >
            <div class="playback-block">
              <playback-controls [numPeople]="5"></playback-controls>
            </div>
          </div>
        </div> -->
      </div>
      <!-- <div class="d-flex justify-content-around flex-wrap flex-md-nowrap align-items-center mt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Residents</h1>
        <h1 class="h2">Hospitals</h1>
      </div>

      <div class="container-fluid d-flex flex-column" style="height: 1130px">
      
        <div class="row mt-3 flex-fill">
    
          <div id="terminal" class="col-4 flex-fill mr-4" style="border: solid black 1px; border-radius: 20px; visibility: hidden; display: none;">
            <code-display></code-display>
          </div>

          <div id="parent" class="flex-fill text-center" (resized)="this.drawService.redrawCanvas()" [ngClass]="{'col-12': !this.showCode, 'col-6': this.showCode}">
            <canvas #canvas id="myCanvas" style="margin-top: 10px; margin-left: -6px; min-height: 280px;">
       
            </canvas>
          </div>
      
        </div>
      
        <div class="row my-3">
          <div class="col-12" >
            <div class="playback-block">
              <playback-controls [numPeople]="5"></playback-controls>
            </div>
          </div>
        </div>
      </div> -->

    <!-- </main> -->
  </div>
</div>