<!-- <div [class.single-center-item]="this.firstSelection" [class.grid-container]="!this.firstSelection" >

  <div class="title-container text-center my-3" [class.hidden]="!this.firstSelection">
    <div class="">
      <p class="title" *ngIf="(this.algorithm.value == '')">Matching Algorithm Animator</p>
  
      <p class="title mb-3" style="font-size: 12px; font-weight: 400;" *ngIf="(this.algorithm.value == '')">Created by Liam Lau</p>
  
      <mat-form-field style="width: 250px" appearance="fill">
        <mat-label>Choose an Algorithm</mat-label>
        <mat-select id="algorithmDropdown" [formControl]="algorithm" (selectionChange)="changeAlgorithm()">
          <mat-option value="simple">Simple</mat-option>
          <mat-option value="gale-shapley">Gale-Shapley Stable Marriage</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="variable-block col-10 col-lg-7 text-center" *ngIf="!this.playback.firstRun" style="opacity: 0;">
    <variable-display [algorithm]="this.algorithm.value" *ngIf="!(this.algorithm.value == '') && !this.playback.firstRun"></variable-display>
  </div>

  <div class="algorithm-container col-lg-6 col-md-8 col-10 text-center">
    <div class="">

      <div class="playback-block">
        <playback-controls [algorithm]="this.algorithm.value" [numPeople]="5" *ngIf="!(this.algorithm.value == '')"></playback-controls>
      </div>

      <div class="code-block" [class.mb-4]="!this.firstSelection">
        <code-display [algorithm]="this.algorithm.value"></code-display>
      </div>

    </div>
  </div>

</div> -->

<!-- <p>{{ this.algorithmService.currentAlgorithm.id }}</p>
<p>{{ this.algorithmService.currentAlgorithm.name }}</p>
<p>{{ this.algorithmService.currentAlgorithm.algorithm }}</p>
<p>{{ this.algorithmService.currentAlgorithm.orientation }}</p> -->

<div class="container-fluid d-flex flex-column" style="min-height: 100vh; padding-right: 50px; padding-left: 50px">
  <div class="row pt-4">
    <div class="logo col-1">
      <img src="assets/images/projectLogo.png" style="max-width: 40%; min-width: 50px;">
    </div>
    <div class="title col-10 text-center">
      <h2 class="lead mt-2">{{ algorithmService.currentAlgorithm.name }}: {{ algorithmService.currentAlgorithm.orientation }}-Oriented</h2>
      <p>{{ algorithmService.currentAlgorithm.algorithm }}: {{ algorithmService.numberOfGroup1Agents }} | {{ algorithmService.numberOfGroup2Agents }}</p>
    </div>
    <div class="infoLogo col-1 flex-fill d-flex align-items-center text-center">
      <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
    </div>
  </div>

  <div class="row mt-3 justify-content-center">
    <div class="col-11 d-flex align-items-center justify-content-center" style="border: solid black 1px; border-radius: 15px; height: 30px">
      description
    </div>
  </div>

  <div class="row mt-3 flex-fill">
    <div class="col-1 flex-fill d-flex align-items-center text-center">
      <!-- <button mat-raised-button color="primary">Show Code</button> -->
    </div>
    <!-- <div class="col-5 flex-fill mr-4" style="border: solid black 1px; border-radius: 20px;">
      code
    </div>
    <div class="col-5 flex-fill" style="border: solid black 1px; border-radius: 20px;">
      animation
    </div> -->


    <div id="parent" class="col-10 flex-fill text-center" style="border: solid black 1px; border-radius: 20px;" (resized)="this.drawService.redrawCanvas()">
      <canvas #canvas id="myCanvas" style="margin-top: 10px; margin-left: -6px; min-height: 280px;">
 
      </canvas>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12" >
      <div class="playback-block">
        <playback-controls [numPeople]="5"></playback-controls>
      </div>
    </div>
  </div>

</div>