:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.single-center-item {
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}

.grid-container {
    overflow: auto;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
}

.title-container {
    min-height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.hidden {
    opacity: 0;
}

// .test {
//     position: absolute;
//     transform: translate(-50%, -50%);
// }

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  
    display: flex;
    align-items: center;
  }