<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-10 text-center">
    

  
        <mat-form-field style="width: 250px" appearance="fill">
          <mat-label>Choose an Algorithm</mat-label>
          <mat-select id="algorithmDropdown" [formControl]="algorithm" (selectionChange)="changeAlgorithm()">
            <mat-option value="simple">Simple</mat-option>
            <mat-option value="gale-shapley">Gale-Shapley Stable Marriage</mat-option>
          </mat-select>
        </mat-form-field>

        
        <div class="row mb-4" *ngIf="!this.playback.firstRun && (this.algorithm.value == 'gale-shapley')">
          <div class="col-12" >
            Free Men: [
            <span *ngFor="let item of this.freeMen; let lastItem = last;">
              <span class="{{ item }}">{{ item }}</span><span *ngIf="!lastItem">,</span>
            </span>
            ]
          </div>
        </div>
        
        <div class="row" *ngIf="!this.playback.firstRun && (this.algorithm.value == 'gale-shapley')">
          <div class="col-4" >
            <p>Men</p>
            <li *ngFor="let item of this.men | keyvalue:mySortingFunction">
              <span class="man{{ item.key }}">{{item.key}}</span>:
              <span *ngFor="let woman of item.value; let lastItem = last;">
                <span class="man{{ item.key }}woman{{ woman }}">{{ woman }}</span><span *ngIf="!lastItem">,</span>
              </span>
            </li>
          </div>

          <div class="col-4" >
            <p>Matches</p>
            <li *ngFor="let item of this.matches | keyvalue:mySortingFunction">
              <span class="{{ item.key }}">{{item.key}}</span>: {{item.value}}
            </li>
          </div>

          <div class="col-4" >
            <p>Women</p>
            <li *ngFor="let item of this.women | keyvalue:mySortingFunction">
              <span class="woman{{ item.key }}">{{item.key}}</span>: 
              <span *ngFor="let man of item.value; let lastItem = last;">
                <span class="woman{{ item.key }}man{{ man }}">{{ man }}</span><span *ngIf="!lastItem">,</span>
              </span>
            </li>
          </div>
          <!-- <div class="col-6" *ngFor="let item2 of this.men | keyvalue:mySortingFunction">
            <b>{{item2.key}}</b>: {{item2.value}}
          </div> -->
        </div>


      <!-- PLAYBACK CONTROLS -->
      <div *ngIf="!(this.algorithm.value == '')">
        <!-- SPEED CONTROL SLIDER -->
        <div>
          <div class="row justify-content-center">
            <span style="padding-top: 4px" class="mt-2 mr-2">Slow</span>
              <mat-slider
              #timeSlider
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1000"
              min="50"
              max="3000"
              value="2500"
              (input)="this.updateSpeed(timeSlider.value)"></mat-slider>
              <span style="padding-top: 4px" class="mt-2 ml-2">Fast</span>
          </div>
        </div>

        <!-- PLAYBACK ICONS -->
        <div>
          <div class="row justify-content-center">
            <!-- GO TO START -->
            <mat-icon style="cursor: pointer;" class="playbackButton unselectable disabled mr-2" aria-hidden="false" aria-label="Example home icon" (click)=restart() [ngClass]="{'disabled': this.playback.firstRun}">skip_previous</mat-icon>

            <!-- BACK ONE STEP -->
            <mat-icon style="cursor: pointer;" class="playbackButton unselectable mr-2" aria-hidden="false" aria-label="Example home icon" (click)=backStep() [ngClass]="{'disabled': this.playback.firstRun || !this.playback.pause}">fast_rewind</mat-icon>
          
            <!-- PLAY -->
            <mat-animated-icon class="playbackButton unselectable" start="play_arrow" end="pause" colorStart="none" colorEnd="none" [animate]="!this.playback.pause" (click)="this.toggle()" [ngClass]="{'disabled': this.playback.stepCounter >= this.playback.numCommands}"></mat-animated-icon>

            <!-- FORWARD ONE STEP -->
            <mat-icon style="cursor: pointer;" class="playbackButton unselectable ml-2" aria-hidden="false" aria-label="Example home icon" (click)=forwardStep() [ngClass]="{'disabled': this.playback.firstRun || !this.playback.pause}">fast_forward</mat-icon>

            <!-- GO TO END -->
            <mat-icon style="cursor: pointer;" class="playbackButton unselectable ml-2" aria-hidden="false" aria-label="Example home icon" (click)="goToEnd()" [ngClass]="{'disabled': this.playback.firstRun}">skip_next</mat-icon>
          </div>
        </div>

        <!-- STEP SLIDER -->
        <div>
            <span style="padding-top: 4px" class="mt-2 mr-2">{{ this.playback.stepCounter }}</span>
            <mat-slider style="width:80%; max-width: 600px;"
            #slider
            thumbLabel
            [(ngModel)]="this.playback.stepCounter"
            (input)="this.formatSteps(slider.value)"
            tickInterval="1"
            min="0"
            max={{this.playback.numCommands}}
            disabled="{{this.playback.firstRun}}"></mat-slider>
            <span style="padding-top: 4px" class="mt-2 ml-2">{{ this.playback.numCommands }}</span>
        </div>
      </div>


      <!-- DESCRIPTION TEXT -->
      <p style="height:50px" class="mt-2" *ngIf="!(this.algorithm.value == '')">{{ this.playback.description }}</p>

      <!-- CODE TERMINAL -->
      <div class="terminal" *ngIf="!(this.algorithm.value == '')">
        <simple-code *ngIf="this.algorithm.value == 'simple'"></simple-code>
        <gs-code *ngIf="this.algorithm.value == 'gale-shapley'"></gs-code>
    </div>

    </div>
  </div>
</div>
