.terminal {
    transition: height 0.2s ease;
}

.playbackButton {
    transition: color 0.2s ease;
}

.playbackButton:hover {
    color: #666666;
}

.disabled {
    pointer-events: none;
    color: #8a8a8a;
}