

  
  <div class="row mb-4">
    <div class="col-12" >
      Free Men: [
      <span *ngFor="let item of this.playback.commandList[this.playback.stepCounter]['freeMen']; let lastItem = last;">
        <span class="{{ item }}">{{ item }}</span><span *ngIf="!lastItem">,</span>
      </span>
      ]
    </div>
  </div>
  
  <div class="row">
    <div class="col-4" >
      <p>Men</p>
      <li *ngFor="let item of this.playback.algorithmData['men'] | keyvalue:mySortingFunction">
        <span class="man{{ item.key }}">{{item.key}}</span>:
        <span *ngFor="let woman of item.value; let lastItem = last;">
          <span class="man{{ item.key }}woman{{ woman }}">{{ woman }}</span><span *ngIf="!lastItem">,</span>
        </span>
      </li>
    </div>

    <div class="col-4">
      <p>Matches</p>
      <li *ngFor="let item of this.playback.commandList[this.playback.stepCounter]['matches'] | keyvalue:mySortingFunction">
        <span class="{{ item.key }}">{{item.key}}</span>: {{item.value}}
      </li>
    </div>

    <div class="col-4">
      <p>Women</p>
      <li *ngFor="let item of this.playback.algorithmData['women'] | keyvalue:mySortingFunction">
        <span class="woman{{ item.key }}">{{item.key}}</span>: 
        <span *ngFor="let man of item.value; let lastItem = last;">
          <span class="woman{{ item.key }}man{{ man }}">{{ man }}</span><span *ngIf="!lastItem">,</span>
        </span>
      </li>
    </div>
    <!-- <div class="col-6" *ngFor="let item2 of this.men | keyvalue:mySortingFunction">
      <b>{{item2.key}}</b>: {{item2.value}}
    </div> -->
  </div>