<div [@simpleFadeAnimation]="'in'" class="aboutContent">
    <div class="container text-center py-5 my-5 col-sm-11 col-lg-8 col-xl-6">
        <h1 class="title-text">Welcome to AlgMatch<br><div class="divider my-4"></div><span style="color: #464d57;">This app was developed as a part of final year projects at the University of Glasgow.</span></h1>
    </div>

    <div class="py-5" style="background-color: #f6f6f8">

        <div class="container my-5" style="font-family: DM Sans;">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">The project</h1>
                    <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">
                        This app is a matching algorithm animator proposed by Sofiat Olaosebikan, the supervisor for this project, and developed and initally developed by Liam Lau 
                        as part of his final year individual project which took place over the course of 6 months.

                        The idea of this app was to create a slick, easy to use learning tool for matching algorithms - that is, algorithms that involves the 
                        stable matching of groups through various criteria.
                        <br><br>
                        The app was then further extended as part of my final yeat project, again under the supervision of Sofiat Olaosebikan. Over the course of 6 months
                        varouis features  were added, modified and updated.
                    
                        Although this project is not as polished or feature-rich as I would like it to be, due to time and other constraints, I hope you like it and are also able to give me some feedback on what I could improve!
                        <br><br>
                        This app is created for <b>desktop</b> use - so will look the best on larger screens - there are currently no plans to optimise it for mobile devices so elements may not appear properly on smaller screens/windows.
                        <br><br>
                        To get started or learn more, head over to the Algorithms page where you can select an algorithm to run in different scenarios. If the algorithm you are looking for it not there
                        this may be added in future updates.
                    </p>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div>
                <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">More about the Devs</h1>
            </div>

            <div class="row pb-5">
                
                
                <br><br>
                <div class="col-lg-6 col-sm-12 my-auto" id="homePageRow3Text">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Callum</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">
                        Hi, I'm Callum, a 4th year computing science student at the University of Glasgow. Usually studying coding or rock climbing.                        
                    </p>
                    <br>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;"> 
                        I am the latest student to work on this app and hope I have added some appealing features and improvements. If you want to know more
                        you can check me out here... 
                    </p>
                    <br><br>
                </div>
                <div class="col-lg-6 col-sm-12 pl-5">
                    <div style="width: 300px; height: 300px; overflow: hidden; border-radius: 50%; border: 3px solid rgb(180, 180, 180);" class="mx-auto">
                        <img src="assets/images/callum.jpg" id="homePageRow3Content" style="margin: 0 auto; margin-left: -8.2%; margin-top: -14%;height: 140%; width: auto;" alt="me">
                    </div>
                </div>

            </div>

            <br><br>

            <div class="row pb-5">

                <div class="col-4 ">
                    <div style="width: 300px; height: 300px; overflow: hidden; border-radius: 50%; border: 3px solid rgb(180, 180, 180);" class="mx-auto">
                        <img src="assets/images/liam.jpg" id="homePageRow3Content" style="margin: 0 auto; margin-left: -8.2%; margin-top: -14%;height: 140%; width: auto;" alt="me">
                    </div>
                </div>

                <div class="offset-1 col-6" id="homePageRow3Text">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Liam</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">
                        I'm Liam! A 4th year Computer Scientist at the University of Glasgow. When I'm not developing, I'm usually playing games, piano or learning whatever I can!
                        <br><br>
                        If you want to know more about me, you can check out my social links here...
                    </p>
                </div>
              
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row pb-5">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Help and special mentions</h1>
                    <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">
                        A big thank you to Sofiat Olaosebikan for helping me throughout the process and looking out for me to make sure on track, even in such a hectic year.
                        <br><br>
                        Also, thank you to Sarah, my partner, for your constant support and helping me out of my lowest lows.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>