<div [@simpleFadeAnimation]="'in'" class="aboutContent">
    <div class="container text-center py-5 my-5 col-sm-11 col-lg-8 col-xl-6">
        <h1 class="title-text">Hi, I'm Liam!<br><div class="divider my-4"></div><span style="color: #464d57;">This app was developed for my final year project at the University of Glasgow.</span></h1>
    </div>

    <div class="py-5" style="background-color: #f6f6f8">

        <div class="container my-5">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">The project</h1>
                    <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">With a simple, intuitive interface, learn how the Gale-Shapley and Extended Gale-Shapley matching algorithms work in different problems with step-by-step playback.</p>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row pb-5">
                <div class="col-lg-6 col-sm-12 my-auto" id="homePageRow3Text">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">More about me</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">Use the playback controls for each algorithm to control the speed you learn.</p>
                </div>
                <div class="col-lg-6 col-sm-12 pl-5">
                    <div style="width: 300px; height: 300px; overflow: hidden; border-radius: 50%; border: 3px solid rgb(180, 180, 180);" class="mx-auto">
                        <img src="assets/images/liam.jpg" id="homePageRow3Content" style="margin: 0 auto; margin-left: -8.2%; margin-top: -14%;height: 140%; width: auto;" alt="me">
                    </div>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row pb-5">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Help and special mentions</h1>
                    <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">Use the playback controls for each algorithm to control the speed you learn.</p>
                </div>
            </div>

        </div>
    </div>
</div>