.github-icon {
    color: #1b1f23;
    transition: 200ms color;
}

a:hover .github-icon {
    color: #5e5e5e;
}

.facebook-icon {
    color: #4968ad;
    transition: 200ms color;
}

a:hover .facebook-icon {
    color: #6c8aca;
}

.linkedin-icon {
    color: #2867b2;
    transition: 200ms color;
}

a:hover .linkedin-icon {
    color: #518bd3;
}