<h1 mat-dialog-title>Animation Guide</h1>
<div mat-dialog-content class="mb-2">
    <div class="row mb-4">
        <div class="col-md-2">
            <img src="assets/images/greenCircle.svg">
        </div>
        <div class="col-md-10 my-auto">
            <h3><b>Green border around circle</b>: This agent is currently selected.</h3>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-5">
            <img src="assets/images/redLine.svg">
        </div>
        <div class="col-md-7 my-auto">
            <h3><b>Red line between two circles</b>: 1 is currently considering proposing to A.</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <img src="assets/images/greenLine.svg">
        </div>
        <div class="col-md-7 my-auto">
            <h3><b>Green line between two circles</b>: 1 is provisionally assigned/engaged to A.</h3>
        </div>
    </div>
</div>

<div mat-dialog-action class="mb-2" align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>