<!-- <div class="container fluid d-flex flex-column" style="min-height: 100vh;">
    <div class="row justify-content-center align-items-center py-3">
        <div class="logo col-1 text-center" style="padding-left: 0; padding-right: 0">
            <img src="assets/images/projectLogo.png" style="max-width: 65%;">
        </div>
        <div class="col-2 text-center mt-3" style="font-size: 18px; margin-left: -20px">Matching Algorithm Animator</div>
        <div class="col-4 text-center mt-3">Created by Liam Lau for 4th Year UofG Individual Project</div>
    </div>

    <div class="row justify-content-center" style="height: 1px;">
        <div class="col-7 text-center" style="background-color: #D7D7D7; height: 1px;"></div>
    </div>

    <div class="row justify-content-center flex-fill">
        <div class="col-8 flex-fill mb-3">
            <mat-tab-group mat-align-tabs="center" animationDuration="250ms" dynamicHeight>
                <mat-tab label="Home">
                    <home-tab-content></home-tab-content>
                </mat-tab>
                <mat-tab label="Algorithms">
                    <algorithm-tab-content></algorithm-tab-content>
                </mat-tab>
                <mat-tab label="About Me">
                    <about-me-tab-content></about-me-tab-content>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>


    <div class="row justify-content-center mt-4" style="height: 1px;">
        <div class="col-4 text-center" style="background-color: #D7D7D7; height: 1px;"></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 my-4 text-center" style="line-height: 120%;"><span style="font-size: 12px">Got ideas for more algorithms I should add?<br>Let me know at <span style="color: #14c8ff; text-decoration: underline;">2314991l@student.gla.ac.uk</span>!</span></div>
    </div>

</div> -->

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand pl-4" href="#">algmatch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto py-4 pr-4">
        <a class="nav-item nav-link active" href="#">About<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Algorithms</a>
        <a class="nav-item nav-link" href="#">Feedback</a>
        </div>
    </div>
</nav>

<div class="container text-center py-5 mt-5">
    <h1 class="title-text">Learn, visualise and<br>walk-through matching algorithms at your own pace.</h1>
</div>

<div class="container pb-5 mb-5 text-center" style="height: 500px; border: solid rgb(209, 209, 209) 1px">
    <!-- <button mat-flat-button color="accent" style="border-radius: 70px; width: 300px; height: 90px"><span style="font-size: 36px; font-weight: 500">Get Started</span></button> -->
</div>

<div class="pb-5 mb-5 text-center">
    <button mat-flat-button color="accent" style="border-radius: 70px; width: 300px; height: 90px"><span style="font-size: 36px; font-weight: 500; color: rgb(243, 243, 243);">Get Started</span></button>
</div>

<div class="py-5" style="background-color: #f6f6f8">
    <div class="container my-5">
        <div class="row">
            <div class="col-6 pr-5">
                <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Perfect for beginners</h1>
                <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">With a simple, intuitive interface, learn how the Gale-Shapley and Extended Gale-Shapley matching algorithms work in different problems with step-by-step playback.</p>
            </div>
            <div class="col-6 pr-5 text-center">f</div>
        </div>

        <div class="" style="height: 150px"></div>

        <div class="row mt-5">
            <div class="col-6 pr-5 text-center">f</div>
            <div class="col-6 pr-5">
                <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Learn visually</h1>
                <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">Decide to play each algorithm with pseudocode shown or not in conjunction with a visual representation of matching.</p>
            </div>
        </div>

        <div class="" style="height: 150px"></div>

        <div class="row">
            <div class="col-6 pr-5">
                <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Control your learning</h1>
                <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">Use the playback controls for each algorithm to control the speed you learn.</p>
            </div>
            <div class="col-6 pr-5 text-center">f</div>
        </div>

    </div>
</div>

<div class="py-5" style="background-color: #2058FF">

    <div class="text-center px-5">
        <h2 class="mb-4" style="color: white; font-weight: 400;">
            If you have any feedback for me, or anything you'd like to see in this app, click the button below to email me!
        </h2>

        <h2 class="mb-5" style="color: white; font-weight: 400;">
            I'm currently actively working on the app, however as it is part of my final year university project, I will eventually stop.
        </h2>

        <button mat-flat-button style="border-radius: 70px; width: 170px; height: 45px; background-color: rgb(240, 240, 240);"><span style="font-size: 18px; font-weight: 500; color: black;">Give Feedback!</span></button>

    </div>
</div>

<div class="py-5 text-center" style="background-color: #f6f6f8">
    Find me at: |GitHub|  |Facebook|  |LinkedIn|
</div>