.divider {
    background-color: #D7D7D7;
    height: 1px;
}

.title {
    font-size: 20px;
}

.subtitle {
    font-size: 17px;
}

.body-text {
    font-size: 15px;
}

.title-text {
    font-weight: 600;
    color: #2058FF
}

button:focus {
    outline: none;
}

#alg {
    color: #d44b21;
    transition: 200ms color;
}

#match {
    color: #9810ca;
    transition: 200ms color;
}

a:hover span #alg {
    color: #ff3c00;
}

a:hover span #match {
    color: #bb00ff;
}

a {
    transition: 200ms color;
}