<!-- <div class="container fluid d-flex flex-column" style="min-height: 100vh;">
    <div class="row justify-content-center align-items-center py-3">
        <div class="logo col-1 text-center" style="padding-left: 0; padding-right: 0">
            <img src="assets/images/projectLogo.png" style="max-width: 65%;">
        </div>
        <div class="col-2 text-center mt-3" style="font-size: 18px; margin-left: -20px">Matching Algorithm Animator</div>
        <div class="col-4 text-center mt-3">Created by Liam Lau for 4th Year UofG Individual Project</div>
    </div>

    <div class="row justify-content-center" style="height: 1px;">
        <div class="col-7 text-center" style="background-color: #D7D7D7; height: 1px;"></div>
    </div>

    <div class="row justify-content-center flex-fill">
        <div class="col-8 flex-fill mb-3">
            <mat-tab-group mat-align-tabs="center" animationDuration="250ms" dynamicHeight>
                <mat-tab label="Home">
                    <home-tab-content></home-tab-content>
                </mat-tab>
                <mat-tab label="Algorithms">
                    <algorithm-tab-content></algorithm-tab-content>
                </mat-tab>
                <mat-tab label="About Me">
                    <about-me-tab-content></about-me-tab-content>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>


    <div class="row justify-content-center mt-4" style="height: 1px;">
        <div class="col-4 text-center" style="background-color: #D7D7D7; height: 1px;"></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 my-4 text-center" style="line-height: 120%;"><span style="font-size: 12px">Got ideas for more algorithms I should add?<br>Let me know at <span style="color: #14c8ff; text-decoration: underline;">2314991l@student.gla.ac.uk</span>!</span></div>
    </div>

</div> -->

<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: white;">
    <a class="navbar-brand pl-5 pt-5 pb-4" href="#"><span class="display-1" style="font-size: 40px;"><span style="color: #d44b21">alg</span><span style="color: #9810ca">match</span></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto pt-5 pb-1 pr-5">
        <a class="nav-item nav-link active mr-5" href="#" style="font-size: 23px; font-weight: 600" routerLink="">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link mr-5" href="#" style="font-size: 23px; font-weight: 600" routerLink="/about">About</a>
        <a class="nav-item nav-link mr-4 pr-3" href="#" style="font-size: 23px; font-weight: 600" routerLink="/algorithms">Algorithms</a>
        <a class="nav-item nav-link mr-4" href="#" style="font-size: 23px; font-weight: 600" routerLink="/feedback">Feedback</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>