<!-- <div class="container fluid d-flex flex-column" style="min-height: 100vh;">
    <div class="row justify-content-center align-items-center py-3">
        <div class="logo col-1 text-center" style="padding-left: 0; padding-right: 0">
            <img src="assets/images/projectLogo.png" style="max-width: 65%;">
        </div>
        <div class="col-2 text-center mt-3" style="font-size: 18px; margin-left: -20px">Matching Algorithm Animator</div>
        <div class="col-4 text-center mt-3">Created by Liam Lau for 4th Year UofG Individual Project</div>
    </div>

    <div class="row justify-content-center" style="height: 1px;">
        <div class="col-7 text-center" style="background-color: #D7D7D7; height: 1px;"></div>
    </div>

    <div class="row justify-content-center flex-fill">
        <div class="col-8 flex-fill mb-3">
            <mat-tab-group mat-align-tabs="center" animationDuration="250ms" dynamicHeight>
                <mat-tab label="Home">
                    <home-tab-content></home-tab-content>
                </mat-tab>
                <mat-tab label="Algorithms">
                    <algorithm-tab-content></algorithm-tab-content>
                </mat-tab>
                <mat-tab label="About Me">
                    <about-me-tab-content></about-me-tab-content>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>


    <div class="row justify-content-center mt-4" style="height: 1px;">
        <div class="col-4 text-center" style="background-color: #D7D7D7; height: 1px;"></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 my-4 text-center" style="line-height: 120%;"><span style="font-size: 12px">Got ideas for more algorithms I should add?<br>Let me know at <span style="color: #14c8ff; text-decoration: underline;">2314991l@student.gla.ac.uk</span>!</span></div>
    </div>

</div> -->

<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: white;">
    <a class="navbar-brand pl-5 mt-5 mb-4" style="cursor: pointer;" (click)="this.goToPage('/')"><span class="display-1" style="font-size: 40px;"><span id="alg">alg</span><span id="match">match</span></span></a>
    <button class="navbar-toggler mt-4 mr-5" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-5" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto pt-5 pb-3 pr-5">
        <a class="nav-item nav-link mr-5" id="homeLink" style="font-size: 23px; font-weight: 600; cursor: pointer" (click)="this.goToPage('/')" [ngClass]="{'active' : !['/about', '/algorithms', '/feedback'].includes(this.router.url)}">Home</a>
        <a class="nav-item nav-link mr-5" id="aboutLink" style="font-size: 23px; font-weight: 600; cursor: pointer" (click)="this.goToPage('/about')" [ngClass]="{'active' : this.router.url == '/about'}">About</a>
        <a class="nav-item nav-link mr-4 pr-3" id="algorithmsLink" style="font-size: 23px; font-weight: 600; cursor: pointer" (click)="this.goToPage('/algorithms')" [ngClass]="{'active' : this.router.url == '/algorithms'}">Algorithms</a>
        <a class="nav-item nav-link mr-4" id="feedbackLink" style="font-size: 23px; font-weight: 600; cursor: pointer" (click)="this.goToPage('/feedback')" [ngClass]="{'active' : this.router.url == '/feedback'}">Feedback</a>
        </div>
    </div>
</nav>

<div>
    <router-outlet #outlet="outlet"></router-outlet>

    <div class="py-5" id="feedbackBanner" style="background-color: #1b1f23">

        <div class="text-center pt-2 px-5">
            <h2 class="mb-4" style="color: white; font-weight: 400;">
                If you have any feedback for me, or anything you'd like to see in this app, click the button below to email me or contact me at one of my socials!
            </h2>

            <h2 class="mb-5" style="color: white; font-weight: 400;">
                I'm currently actively working on the app, however as it is part of my final year university project, I will eventually stop.
            </h2>

            <button class="feedbackButton" mat-flat-button style="border-radius: 70px; width: 170px; height: 45px;"><span style="font-size: 18px; font-weight: 500; color: black;">Give Feedback!</span></button>

        </div>
    </div>

    <icon-banner></icon-banner>

</div>