<div [@simpleFadeAnimation]="'in'" class="feedbackContent">
    <div class="container text-center py-5 my-5">
        <h1 class="title-text">I would greatly appreciate any feedback!<br><div class="divider my-4"></div><span style="color: #464d57;">I am collecting feedback to improve this app through Google Forms! Check below for details!</span></h1>
    </div>

    <div class="py-5" style="background-color: #f6f6f8">

        <div class="container my-5">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Evaluation</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">If you'd like to help me out, I'd really appreciate you spending the time to go through and do my evaluation of this app. It's at this Google Forms link.</p>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">If there's anything you'd like to mention that my evaluation doesn't cover, please contact me at 2314991L@student.gla.ac.uk. I'd love to hear any and all opinions!</p>
                </div>
            </div>
        </div>
    </div>

</div>
