<div [@simpleFadeAnimation]="'in'" class="feedbackContent">
    <div class="container text-center py-5 my-5 col-sm-11 col-lg-8 col-xl-6">
        <h1 class="title-text">I would greatly appreciate any feedback!<br><div class="divider my-4"></div><span style="color: #464d57;">I am collecting feedback to improve this app through Google Forms! Check below for details!</span></h1>
    </div>

    <div class="py-5" style="background-color: #f6f6f8">

        <div class="container my-5" style="font-family: DM Sans;">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Evaluation</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">If you'd like to help me out, I'd really appreciate you spending the time to go through and do my evaluation of this app. It's at this Google Forms link.</p>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">If there's anything you'd like to mention that my evaluation doesn't cover, please contact me at 2458150o@student.gla.ac.uk. I'd love to hear any and all opinions!</p>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row pt-3">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Future Work</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">As this is a university project, there's a limit on what I can feasibly do in the time given, especially alongside the rest of my studies. However, below is a list of features, fixes and improvements I would love to make, if I had the time:</p>
                    <ul style="font-size: 18px; line-height: 30px; font-weight: 300;">
                        <li>Implementation of more algorithms</li>
                        <li>Functionality to edit number of available spaces for hospitals through edit preferences</li>
                        <li>A more robust, user friendly implementation of the edit preferences system</li>
                        <li>A more in-depth, high quality tutorial</li>
                        <li>Screen responsiveness (app responding properly to different screen sizes)</li>
                        <li>Mobile version of the web app</li>
                        <li>More polish - ensuring no bugs and other oddities with presentation</li>
                        <li>User friendly system to create their own algorithms - possibly "writing code" or combining blocks of logic to create matching algorithms?</li>
                    </ul>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">If there's anything you think would be a great addition to this app, please go through my evaluation and add your thoughts!</p>
                </div>
            </div>

        </div>
    </div>

</div>
